TFTWebApplication/Connected Services/ServiceReference1/NumToCatService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65155/NumToCatService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TFTService" />
  <xs:import schemaLocation="http://localhost:65155/NumToCatService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ValueTupleOfCabeceraArrayOfConversion174IIh39">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Cabecera" Namespace="http://schemas.datacontract.org/2004/07/TFTService" />
          <GenericParameter Name="ArrayOfConversion" Namespace="http://schemas.datacontract.org/2004/07/TFTService" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TFTService" name="Item1" nillable="true" type="q1:Cabecera" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TFTService" name="Item2" nillable="true" type="q2:ArrayOfConversion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfCabeceraArrayOfConversion174IIh39" nillable="true" type="tns:ValueTupleOfCabeceraArrayOfConversion174IIh39" />
</xs:schema>