TFTWebApplication/Connected Services/ServiceReference1/NumToCatService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65155/NumToCatService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TFTService" />
  <xs:element name="MainTraducir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lenguaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainTraducirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TFTService" minOccurs="0" name="MainTraducirResult" nillable="true" type="q1:ArrayOfConversion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TFTService" minOccurs="0" name="GetNumberResult" nillable="true" type="q2:PartesNumeros" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentenaresALetras">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentenaresALetrasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CentenaresALetrasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumCompletoALetraCard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumCompletoALetraCardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumCompletoALetraCardResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumCompletoALetraCardDec">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumCompletoALetraCardDecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumCompletoALetraCardDecResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumCompletoALetraOrd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="genero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumCompletoALetraOrdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumCompletoALetraOrdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumCompletoALetraFrac">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumCompletoALetraFracResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumCompletoALetraFracResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumCompletoALetraMult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NumCompletoALetraMultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumCompletoALetraMultResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>